@font-face {
  font-family:"punk" ;
  src: url(../fonts/punk\ kid.ttf)
  format('truetype');
}

.navbar {
  background:transparent;   
  font-size: 1.5em;     
  font-weight: bolder;  
 padding: 2rem !important;       
}

#introbox {
  background:transparent;   
  color: white;

}

#introbox p {
  font-size: 1.5rem;
  color: #cbb4d4;
  font-weight: bold;
}

#intro {
  font-family: "punk";
  font-size: 6em;
  letter-spacing: 0.5rem;
  margin-left: auto;
  margin-right: auto;  
  color: white;
}


body {
    height: 100vh;  
    background-image: url(../images/hin-bong-yeung-jF946mh5QrA-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;   
    background-attachment: fixed;    
    margin-left: auto;
    margin-right: auto;   
    
}

.card-deck  {
  width: 65%;
  margin-left: auto !important;
  margin-right: auto !important;  
  padding-top: 4rem;

}

.mycustom_class.w3-animate-left {
  animation: 4s ease 0s normal none 1 running animateleft;
}

.mycustom_class.w3-animate-right {
  animation: 4s ease 0s normal none 1 running animateright;
}

.mycustom_class.w3-animate-bottom {
    animation: 4s ease 0s normal none 1 running animatebottom;
}
  

@media screen and (max-width: 1024px) {
    .card-deck  {
      width: 90%;
    }
  }

@media screen and (max-width: 600px) {
    .card-deck  {
      width: 90%; 

    }
    #introbox p {     
      color: white;     
    }
    #intro {
      font-size: 4em;

    }
  }

.carousel-inner img {
  width: 100%;
  height: 100%;

}

.carousel-inner img {
  width: 100%;
  padding: 1rem;
 
}

.card-img-top {
  width: 100%;
  padding: 1rem;

}